#wp-great-newsletter {
    width:100%; 
    float:left;
}

#wp-great-newsletter form {
    width:100%;
    float:left;
}

.wp-great-newsletter-1 label {
    width:100%!important;
    float:left;
}

.wp-great-newsletter-1 input {
    width:100%!important; 
    float:left; 
    margin:1% 0; 
}

.wp-great-newsletter-1 input[type="submit"] {
    width:100%!important; 
    float:left;
}

.wp-great-newsletter-2 label {
    width:30%!important; 
    float:left; 
    margin: 1% 2% 1% 0; 
    line-height:35px;
}

.wp-great-newsletter-2 input {
    width:65%!important; 
    float:right; 
    margin:1% 0;
}

.wp-great-newsletter-2 input[type="submit"] {
    width:100%!important; 
    float:left;
}

.wp-great-newsletter-result-false {
    background:#f74c4c; 
    color:#fff; 
    padding:0.5%;
    margin: 5px 0;
}

.wp-great-newsletter-result-true {
    background:#41A62A; 
    color:#fff;
    padding:0.5%;
    margin: 5px 0;
}

#wp-great-newsletter .form-part {
    float:left;
    width:100%;
}

.wp-great-newsletter-input-error {
    border:1px solid red !important;
}

.wp-great-newsletter-display-none {
    display:none !important;
}

.wp-great-newsletter-display-block {
    display:block !important;
}